<div class="row">
  <div class="col-md-12">
    <app-carousel></app-carousel>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <app-todays-deal></app-todays-deal>
  </div>
  <div class="col-md-9">
    <app-categories></app-categories>
  </div>
</div>
<div class="row">
  <div *ngIf="currentUser != null">
    <h1>Hi {{ currentUser.firstName }}!</h1>
    <p>You're logged in with Angular 7!!</p>
    <h3>All registered users:</h3>
    <ul>
      <li *ngFor="let user of users">
        {{ user.username }} ({{ user.firstName }} {{ user.lastName }}) -
        <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
      </li>
    </ul>
  </div>
</div>
<br><br>
