<div class="container-fluid">
      <app-nav-bar></app-nav-bar>
  <div>
      <app-header-filter></app-header-filter>
  </div>
  <div class="">
    <router-outlet></router-outlet>
    <div>
      <div class="container-fluid-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="social-links">
              <a class="facebook" href="#"></a>
              <a class="twitter" href="#"></a>
              <a class="dribble" href="#"></a>
              <a class="pinterest" href="#"></a>
              <a class="googleplus" href="#"></a>
              <a class="skype" href="#"></a>
              <a class="youtube" href="#"></a>
              <a class="vimeo" href="#"></a>
              <a class="forrst" href="#"></a>
              <a class="email" href="#"></a>
            </div>
          </div>
        </div>
        <app-footer></app-footer>

      </div>
    </div>
  </div>
</div>
