<div class='container-fluid'>
    <div class="row" style="padding: 20px;">
        <!-- <div class="col-sm-12 btn btn-success">
            ...
        </div> -->
    </div>
    <div class='col-12'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <img src="assets/img/pic01.jpg"  alt="Beautiful Vacation Destinations at Low Prices">
                <div class="carousel-caption">
                    <h3 style="color: black">Beautiful Vacation Destinations at Low Prices</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/pic02.jpg" alt="Your Favorite Restaurants For Less">
                <div class="carousel-caption">
                    <h3 style="color: black">Your Favorite Restaurants For Less</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/pic03.jpg" alt="Beautiful Vacation Destinations at Low Prices">
                <div class="carousel-caption">
                    <h3 style="color: black">Beautiful Vacation Destinations at Low Prices</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/pic04.jpg" alt="Beautiful Jewelry at Amazing Prices">
                <div class="carousel-caption">
                    <h3 style="color: black">Beautiful Jewelry at Amazing Prices</h3>
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img src="assets/img/pic05.jpg" alt="Signed Sports Memorabilia">
                <div class="carousel-caption">
                    <h3 style="color: black">Signed Sports Memorabilia</h3>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>

</div>
